.articles-container .m-2 {
   margin: 0 !important
    
}

.nav-container {
   width: 100% !important;
}

.card-size {
   width: 400px;
   height: 124px;
   border-radius: 0%;
   margin-bottom: 10px;
}

.img-size {
   width: 400px;
   height: 250px;
   border-radius: 0%;
   
} 



#root .container-fluid {
   padding-right: 0;
   padding-left: 0;
   margin-right: 0;
   margin-left: 0;
}